@charset "UTF-8";
body {
    background-image: url('neondrop.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

#wrap {
    width: 780px;
    margin: 0 auto;
}

header {
    background-color: #FFFF00;
    padding : 20px;
    height : 80px;
    margin-bottom : 60px;
    text-align: center;
}

canvas {
    background-color: white;
    border: 1px solid black;
}

div#main {
    background-color: white;
    height : 600px;
}
