@charset "UTF-8";

div#wrap {
    width: 780px;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #FFFF00;
    padding : 20px;
    height : 80px;
    margin-bottom : 60px;
    text-align: center;
}

canvas#canvas {
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div#main {
    background-color: white;
    height : 600px;
}
